<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" type="text/css" href="../css/reset.css"/>


<div id="wrapper" >



	<section class="card-top">
		<p>
			购物车
		</p>
		<span id="card-top-right" >
	   		编辑
	   	</span>
	</section>
	<div class="kong" >

		<!--空数据时不显示数据-->
		<section class="card-main" ng-show="false">
			<p >
				<img src="../img/card-gg.png">
			</p>
			<p>这里是空的呢</p>
			<a href="../index.html"  ><button class="card-main-gg">去逛逛</button></a>
		</section>

		<!--有数据-->
		<div class="card-xx">
			<ul >
				<li>
					<input type="checkbox" class="yuan four_car" ng-checked="sellall"/>
					<img class="four_car" ng-src="{{goods1.goods_thumb}}" alt="" >
					<p class="text four_car">{{goods1.goods_name}}</p>
					<div class="num_right four_car">
						<p>{{goods1.price}}</p>
						<input type="text" value="1" class="xiala" ng-model="goods1.count">
					</div>
				</li>

			</ul>
		</div>



		<section class="card-bottom">
			<input type="checkbox"  ng-click="changAll()" class="card-bottom-qx" ng-checked="sellall"/>
			<span class="card-bottom-sp" ng-click="changAll()" style="font-size: 1rem;"><span ng-show="sellall"> 全选 </span><span ng-hide="sellall">取消全选</span></span>
			<p>
				<input type="button"  value="结算"  class="card-bottom-js"/>
			</p>
			<p>
			<p style="float: right;">￥{{goods1.price * goods1.count}}</p>
			<p>合计</p>

			</p>
		</section>
	</div>





</div>